*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "Rubik", sans-serif;
    color: #444;
}
.container{
    margin: 0 auto;
    width: 1200px;
}
header{
    height: 100vh;
    background-color: orangered;
}
nav{
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    background-color: green;
}
h1{
    font-size: 52px;
    margin-bottom: 32px;
    line-height: 1.05;
}
p{
    font: 20px;
    line-height: 1.6;
    margin-bottom: 48px;
}
.btn:link, .btn:visited{
    font-size: 20px;
    font-weight: 600;
    background-color: #e67e22;
    color:#fff;
    text-decoration: none;
    display: inline-block;
    padding: 16px 32px;
    border-radius: 9px;
}
nav{
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    
}
h1{
    font-size: 52px;
    margin-bottom: 32px;
    line-height: 1.05;
}
p{
    font: 20px;
    line-height: 1.6;
    margin-bottom: 48px;
}
.btn:link, .btn:visited{
    font-size: 20px;
    font-weight: 600;
    background-color: #e67e22;
    color:#fff;
    text-decoration: none;
    display: inline-block;
    padding: 16px 32px;
    border-radius: 9px;
}
h2{
    font-size: 44px;
    margin-bottom: 48px;
}
section{
    padding: 96px 0;
    background-color: #f7f7f7;
}